@font-face {
    font-family: "ananda-hastakchyar";
    src: url("/fonts/ananda.regular.ttf") format("ttf");
    src: url("/fonts/ananda.regular.woff") format("woff");
}
/* **************************************** custom fonts ******************************************************** */
span{
    color: white;
}
body {
    margin: 0;
    padding: 2.5%;
    box-sizing: border-box;
}
h6{
    font-weight: 300;
    font-size: 15px;
}
/* **************************************** html elements ******************************************************** */

.header{
    background-image: url(img1.jpg);
    height: 90vh;
    background-position: center;
    position: relative;
}

.text-box{
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%,-50%);
}
.heading-primary-sub{
display: block;
font-size: 55px;
font-weight: 400;
text-align: center;
font-family: 'Bilbo Swash Caps', cursive;

}
.heading-primary-main{
display: block;
font-size: 45px;
font-weight:630;
}
.header-first{
    display: grid;
    color: white;
    grid-template-columns: 5fr 2fr 2fr 2fr;
    grid-auto-rows: minmax(50px,auto);
    align-items:center;
    justify-items: start;
    padding: 0;
    border-bottom: dotted 2px grey;
}
.fab{
    padding-right: 1em;
}
.collapse{
    position: absolute;
    right: 100px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 500;
    padding-left: 0.5em;
}
.ingrediants{
    padding-top: 10%;
    padding-left: 5.5%;
}
.footer-sub-two{
    font-size: 12px;
    text-align: center;
}
.footer-sub-one{
    height: 100px;
    background-color:#258e25;
    display: grid;
    grid-template-columns:3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.footer-main{
    height: 300px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    text-align: center;
}
.days{
    padding-top: 1.5em;
}
.lines{
    height: 10px;
    border-right: 2px white solid;
}
.home-button{
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: white;
    color:#258e25 ;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    top: 120px;
    left: 150px;
}
/* **************************************** classes ******************************************************** */

#green-leaf-logo{
margin-left:50px ;
}
#icons{
padding: 0.5em;
padding-left: 6em;
}
#login{
    padding: 0.5em;
}
#email{
    padding: 0.5em;

}
#phone{
padding: 0.5em;
padding-left: 1.3em;
}
/* **************************************** id's ******************************************************** */
